- if @topics.count == 0
  %h2.title
    = t("followable.topics.none")
- else
  .block.followed-topics
    %h2.title
      %span
        = t("followable.topics.link", :count => @topics.count, :link => @path)
      %span
        = link_to t("user_suggestions.user"), @path, :class => :'suggestion-link'
    %ul.topic-list
      - @topics.each do |topic|
        %li
          .topic
            %span.topic-title
              = link_to_topic(topic, :render_follow_button => false)
          = render :partial => "follow", :locals => {:topic => topic}
          .clear
