- if @user_topics.count == 0
  %p.title
    - if params[:id] == current_user.id
      = t("followable.topics.none")
    - else
      = t("user_suggestions.user_follows_nothing", :user => @user.name)
      = "#{link_to t("user_suggestions.user"), @path, :class => 'suggestion-link'}."
- else
  .block.followed-topics
    %p.title
      %span
        = t("followable.topics.link", :count => @user_topics.count, :link => @path)
      - unless params[:id] == current_user.id
        %span
          = link_to t("user_suggestions.user"), @path, :class => 'suggestion-link'
    %ul.topic-list
      - @user_topics.each do |user_topic|
        - topic = user_topic.topic
        %li
          .topic
            %span.topic-title
              = link_to_topic(topic, :render_follow_button => false)
          = render :partial => "follow", :locals => {:topic => topic}
          .clear
