.block.top-answerers{"data-entry-type" => @type}
  %p.title
    %span= t("followable.followers.top_answerers")
    - if @total_followers > 0
      %span.count
        = t("followable.followers.link", :count => @total_followers, :link => @path)
  %ul.top-answerer-list
  - @user_topics.each do |user_topic|
    - user = user_topic.user
    %li.user-data
      .user-avatar-link{"data-user-id" => user.id, :style => "display: inline"}
        = link_to avatar_for(user, :size => 24).html_safe, user_path(user)
      .user-links
        .name-link= link_to h(user.name), user_path(user)
        .answer-count= t('searches.question.answers', :count => user_topic.answers_count)
