%ul.topic-list
  - question.topics.each do |topic|
    = render :partial => "topics/box", :locals => {:topic => topic, :question => question}
  - if logged_in? && (current_user.can_modify?(question) || current_user.can_retag_others_questions_on?(current_group))
    %li.retag
      %a.reclassify{:href => "#"}
        %span.empty= t("questions.tags.tag")
        %span.not-empty= t("questions.tags.retag")
= text_field "topics", "", :class => "", :id => "reclassify-autocomplete", :value => t("searches.form.select_topics")
%a.add-topic{:href => "#"}= t("scaffold.add")
%a.cancel-reclassify{:href => "#"}= t("scaffold.done")
%ul#reclassify-suggestions.autocomplete-list
