- content_for :js do
  = include_javascripts :content_edit
  = javascript_include_tag "#{AppConfig.wmd_location}/jquery.wmd.min.js"
  = javascript_include_tag "#{AppConfig.wmd_location}/jquery.wmd.mathjax.js"

- content_for :css do
  = stylesheet_link_tag "#{AppConfig.wmd_location}/wmd.css"

- content_for :subtabs do
  .navtitle
    = t(".title")

- form_for(@question, :url => question_path(@question),
  :html => {:class => "form editor"}) do |f|
  = render :partial => "form", :locals => {:f => f, :topics => false}
  .group.navform
    = f.submit t("scaffold.update")
    = t("global.or")
    = link_to t('scaffold.cancel'), @question, :class => "button cancel"

= render :partial => "shared/image_prompt",
  :locals => { :entry_type => "question" }