- content_for :js do
  = include_javascripts :content_show, :questions_edit_revert
  = javascript_include_tag "#{AppConfig.wmd_location}/jquery.wmd.min.js"
  = javascript_include_tag "#{AppConfig.wmd_location}/jquery.wmd.mathjax.js"

- content_for :css do
  = stylesheet_link_tag "#{AppConfig.wmd_location}/wmd.css"

- content_for :subtabs do
  .navtitle
    = t(".title")

- form_for(@question, :url => question_path(@question), :html => {:class => "form"}) do |f|
  = render :partial => "form", :locals => {:f => f}
  .group.navform
    = f.submit t("scaffold.update")
    = t("global.or")
    = link_to t('scaffold.cancel'), @question, :class => "button cancel"
