- feed_url = url_for(:format => "atom", :tags => params[:tags])

- content_for :rss do
  %link{:rel=>"alternate", :type=>"application/atom+xml", :title => "atom", :href=> url_for(:format => "atom", :tags => params[:tags])}
  %link{:rel=>"alternate", :type=>"application/atom+xml", :title => "atom", :href=> url_for(:format => "atom")}

- content_for :subtabs do
  .navtitle
  - tabs_tag :namespace => :questions_index, :open_tabs => { :class => :tabs } do |tab|
    = tab.all "#{t('questions.index.all_tab')} (#{@questions_count})", questions_path
    - unanswered_counter = @unanswered_questions_count > 0 ? " (#{@unanswered_questions_count})" : ""
    = tab.unanswered t('questions.index.unanswered_tab') << unanswered_counter, unanswered_questions_path

- content_for :sidebar do
  - if logged_in?
    = render :partial => "shared/language_filter"

- if params[:tags].present? && params[:tags].include?('resolução-de-exercício')
  %p= link_to 'Como funciona a resolução de exercícios no Umamão?', question_path('eu-posso-usar-o-umamao-para-colaborar-na-resolucao-de-exercicios')

/Questions
%ul.items#questions
  - if @questions.empty?
    %li.highlight
      = t(".empty")
  - @questions.each do |question|
    = render :partial => "question", :object => question

#additional_info
  = will_paginate @questions

  #help_us
    = t(".help_to_answer")
    = link_to t(".unanswered_questions"), unanswered_questions_path

  .clear
