- feed_url = url_for(:format => "atom", :tags => params[:tags])

- content_for :rss do
  %link{:rel=>"alternate", :type=>"application/atom+xml", :title => "atom", :href=> url_for(:format => "atom", :tags => params[:tags])}
  %link{:rel=>"alternate", :type=>"application/atom+xml", :title => "atom", :href=> url_for(:format => "atom")}

- content_for :subtabs do
  .navtitle
    = t(".title")
    - if @questions
      == (#{@questions.total_entries})
  = t("questions.unanswered.explanation")

- content_for :sidebar do
  - if logged_in?
    = render :partial => "shared/language_filter"

/Questions
%ul.items#questions
  - if @questions.empty?
    %li.box.highlight
      = t(".empty")
  - @questions.each do |question|
    = render :partial => "question", :object => question

#additional_info
  = will_paginate @questions


