.modal.share-question-widget
  %h1 Postar no Facebook
  - form_tag "/share_question", :method => :post do
    = text_area_tag "body", @question.title
    = hidden_field_tag "question", @question.id
    = hidden_field_tag "where", "facebook"
    .controls
      = link_to "Cancelar", "#", :class => "close"
      = submit_tag "Compartilhar"
    .clear
