-# Topic suggestions
#topic-suggestions.block.suggestions
  - if !@suggested_topics.blank?
    %h3.title
      = t("followable.suggestions.topics")
    %ul.topic-list
      - @suggested_topics.each do |topic|
        %li
          .topic.info
            %span.topic-title
              = link_to topic.title, topic_path(topic), :title => topic.title
          .controls
            .follow-info
              = link_to "#{t("followable.follow")}", follow_topic_path(topic), :class => "follow_link"
            .refuse-suggestion
              = link_to "✕", refuse_suggestion_topic_path(topic)
          .clear
