-# Topic suggestions
#topic-suggestions.block.suggestions
  - if !@topic_suggestions.blank?
    %h3.title
      = t("followable.suggestions.topics")
    %ul.topic-list
      - @topic_suggestions.each do |suggestion|
        - topic = suggestion.entry
        %li
          .topic.info
            %span.topic-title
              = link_to topic.title, topic_path(topic), :title => topic.title
          .controls
            .follow-info
              = link_to "#{t("followable.follow")}", follow_topic_path(topic), :class => "follow_link", :method => :post
            .refuse-suggestion
              = link_to "✕", refuse_suggestion_path(:suggestion => suggestion.id), :method => :post
          .clear
