-# User suggestions
#user-suggestions.block.suggestions
  %h3
    = t("followable.suggestions.users")

  %ul
    - @suggested_users.each do |user|
      %li
        .user.info
          = avatar_for(user, :size => 32)
          = user.name
        .controls
          .follow-info
            = link_to "#{t("followable.follow")}", follow_user_path(user), :class => "follow_link", :method => :post
          .refuse-suggestion
            = link_to "✕", remove_suggestion_path(:user => user.id)
        .clear

