-# User suggestions
#user-suggestions.block.suggestions
  %h3
    = t("followable.suggestions.users")

  %ul
    - @user_suggestions.each do |suggestion|
      - user = suggestion.entry
      %li
        .user.info
          = avatar_for(user, :size => 32)
          = user.name
        .controls
          .follow-info
            = link_to "#{t("followable.follow")}", follow_user_path(user), :class => "follow_link", :method => :post
          .refuse-suggestion
            = link_to "✕", refuse_suggestion_path(:suggestion => suggestion.id), :method => :post
        .clear

