- form_for new_question, :url => questions_url(:format => :js),
  :html => {:class => "form editor",
            :id => "new_question_form",
            :remote => true,
            "data-type" => "json"} do |f|
  .title
    %a{:name => "form"}
    = f.label :title, "#{t('.new_question')}*", :class => "label"
    .example
      = t(".example", :list_title => question_list.title)
    = f.text_field :title, :class => "text_field", :id => "question_title"
  .body
    = f.label :body, t(".details"), :class => "label"
    = f.text_area :body, :class => "editor-input", :id => "question-input", "data-autocomplete-url" => autocomplete_url
    %ul#inline-autocomplete-list.autocomplete-list
    = render :partial => "content_images/content_images",
      :locals => { :entry => new_question }
  .preview
    = render :partial => "shared/preview_pane"
  = f.hidden_field :question_list, :value => question_list.id

  .group.navform
    = f.submit t(".make_question"),  :class => "button"
    = link_to t("scaffold.cancel"), "#", :class => "button cancel"

= render :partial => "shared/image_prompt",
  :locals => { :entry_type => "question" }
