= render :partial => "shared/wait_to_print"

- content_for :js do
  = include_javascripts :content_edit, :show_question_list, :topics_email_subscription

- content_for :css do
  = include_stylesheets :question_list_print, :media => 'all'

- content_for :head do
  %meta{:name => "keywords", :content => clean_seo_keywords(@question_list.topics.map(&:title).dup, @question_list.title)}
  - if @question_list.description.present?
    %meta{:name => "description", :content => @question_list.description.gsub(/<\/?[^>]*>/, "")[0, 255] }
  %link{:rel => "canonical", :href => question_list_url(@question_list_url) }

#question-list

  %h1.navtitle.title.entry-title.question-list-title-col
    &= link_to @question_list.title, question_list_url(@question_list)

  .body-col
    .description.markdown
      = markdown(@question_list.description)

    = render :partial => "shared/classify", :locals => {:classifiable => @question_list, :ajax_add => false}

  %ul.items#questions
    - if @questions.empty?
      %li.empty
        - if @question_list.question_list_files.present?
          = t(".empty.transcribe")
        - else
          = t(".empty.basic")
    - else
      - @questions.each do |question|
        = render :partial => "question", :object => question,
          :locals => { :options => options }
  .clear
