- content_for :js do
  = include_javascripts :content_edit, :new_question_list
  = javascript_include_tag "#{AppConfig.wmd_location}/jquery.wmd.min.js"
  = javascript_include_tag "#{AppConfig.wmd_location}/jquery.wmd.mathjax.js"

- content_for :css do
  = stylesheet_link_tag "#{AppConfig.wmd_location}/wmd.css"

- content_for :subtabs do
  .navtitle
    = t(".title")

- form_for(@question_list, :html => {:class => "form", :id => "new_question_list"}, :as => :question_list) do |f|
  .title.group
    = f.label :title, "#{t('topics.edit.name')}*", :class => "label"
    .example= @sample_title
    = f.text_field :title, :class => "text_field"

  .group.initially-hidden
    = f.label :description, t('question_lists.new.description'), :class => "label"
    = f.text_area :description, :class => "editor-input", :id => "description-input", :rows => "auto", :cols => "auto"
    %label.label
      = t("global.preview")
    #description-preview.markdown

    %hr

  .controls
    = link_to t("questions.new.add_details"), "#", :id => "show-description"

  .group
    %span.sublabel
      = "#{t('.main_topic')}:"
    %span.main-topic
      %span.topic
        %span.topic-title
          = @question_list.main_topic.title
    = f.hidden_field :main_topic, :value => @question_list.main_topic.slug
  .group
    %ul#classify-ul.topic-list
      - @question_list.topics.each do |topic|
        = topic_box topic, :classifiable => @question_list
    = text_field "topics", "", :class => "inactive", :id => "topic-autocomplete-input", :value => t("searches.form.select_topics"), "data-autocomplete-url" => autocomplete_url
    %a.add-topic{:href => "#"}= t("scaffold.add")
    %ul#topic-autocomplete-suggestions.autocomplete-list

  .group.navform
    = f.submit t('.submit')
    = t("global.or")
    = link_to t('scaffold.cancel'), topic_path(@question_list.main_topic), :class => "button cancel"
