= render :partial => 'shared/share_header', :locals => { :opts => { :content => @question_list, :class_name => QuestionList.to_s.underscore }, :content_url => question_list_url(@question_list) }
- source = question_list_path(@question_list)

- content_for :js do
  = include_javascripts :content_edit, :show_question
  = javascript_include_tag "#{AppConfig.wmd_location}/jquery.wmd.min.js"
  = javascript_include_tag "#{AppConfig.wmd_location}/jquery.wmd.mathjax.js"

- content_for :css do
  = stylesheet_link_tag "#{AppConfig.wmd_location}/wmd.css"

- content_for :head do
  %meta{:name => "keywords", :content => clean_seo_keywords(@question_list.topics.map(&:title).dup, @question_list.title)}
  %meta{:name => "description", :content => @question_list.description.gsub(/<\/?[^>]*>/, "")[0, 255] }
  %link{:rel => "canonical", :href => question_list_url(@question_list_url) }

-#= error_messages_for 'question_list'

#question.commentable

  %h1.navtitle.title.entry-title.question-title-col
    &= @question_list.title

  %hr
    = render :partial => "classify", :locals => {:question_list => @question_list, :ajax_add => true}

    .controls
      .actions
        - if logged_in?
          - if current_user.can_modify?(@question_list)
            = link_to t("scaffold.destroy"), question_list_path(@question_list.id), :confirm => "are you sure?", :method => :delete
            -# FIXME: EDIT QUESTION LIST
            -#= link_to t('scaffold.edit'), edit_question_list_path(@question_list), :class => "button"

        #question_flag_div

  -#= render :partial => "shared/comments", :locals => {:commentable => @question, :source => source, :path_scope => [@question]}

%ul.items#questions
  - if @questions.empty?
    %li.highlight
      = t(".empty")
  - @questions.each do |question|
    = render :partial => "questions/question", :object => question

#additional_info
  = will_paginate @questions
    
-#= render :partial => 'shared/share_body', :locals => { :opts => { :content => @question_list.id, :class_name => QuestionList.to_s.underscore } }
