- question = link_to h(@question.title), url_for(:host => @domain, :controller => "questions", :action => "show", :id => @question.slug)

%p
  = t('notifier.global.hi', :user => h(@user.first_name))
%p
  = t('.author', :user => h(@question.user.name), :topic => h(@topic.name))
%p
  = question
%p
  = shapado_auto_link(markdown(@question.body, :group => @group))
%p
  = t('.disable_html', :disable_link => @disable_link)

= simple_format(t('notifier.global.signature'))
