- question = link_to h(@question.title), url_for(:host => @domain, :controller => "questions", :action => "show", :id => @question.slug)

%p
  = t('notifier.global.hi', :user => h(@user.first_name))
%p
  = t('.author', :user => h(@answer.user.name))
%p
  = shapado_auto_link(markdown(@answer.body, :group => @group))
%p
  = t('.question', :question => question)

%p= simple_format(t('notifier.global.signature'))
