%p= t('.greeting')

= simple_format(t('.message', :email => @email, :contact => "contato@umamao.com"))

%ul
  - @open_universities.each do |u|
    %li=  u.short_name+" - "+u.name

%p= simple_format(t('.message2'))

%p= simple_format(t('notifier.global.signature'))


= simple_format(t('.goodbye'))
