- content_for :js do
  = include_javascripts :topics_email_subscription

= render :partial => "sidebar", :locals => {:topic => @topic, :students => @students_course}

.secondary-navigation
  .navtitle
    &= @topic.title
%br

.markdown
  = markdown(@topic.description)

.controls
  .actions
    = link_to t('scaffold.edit'), edit_topic_path(@topic)
    - if @topic.allow_question_lists
      .featured
        = link_to t('.new_question_list'), new_question_list_path(:main_topic => @topic.slug, :class => "featured")
        .new_feature
          = t('new_feature')

.secondary-navigation
  - tabs_tag :namespace => :topic_show, :open_tabs => {:class => :tabs} do |tab|
    = tab.all "#{t('.all_tab')} (#{@topic.questions_count.to_s})", @topic
    = tab.unanswered "#{t('.unanswered_tab')} (#{@topic.unanswered_questions_count.to_s})" , unanswered_topic_path(@topic)
