- students = local_assigns[:students]
- link_to_main = local_assigns[:link_to_main]

= render :partial => 'shared/share_header', :locals => { :opts => { :content => topic, :class_name => Topic.to_s.underscore }, :content_url => topic_url(topic) }

- content_for :sidebar do
  - if logged_in?
    .follow-info.block
      = follow_button topic
  = render :partial => "email_subscription", :locals => {:topic => topic, :block => "block"}
  = render_cell :users, :top_answerers, :topic => topic

  - if topic.external_account.present?
    .follow_on_twitter.block
      = t(".follow_on_twitter")
      = link_to "@#{topic.external_account.user_info['nickname']}",
        topic.external_account.user_info['urls']['Twitter'],
        :target => "_blank"
      - if logged_in? && current_user.admin?
        (#{link_to(t(".disconnect_from_twitter"), |
           topic_external_account_path(topic, topic.external_account), |
           :method => :delete)}) |

  - elsif logged_in? && current_user.admin?
    .follow_on_twitter.block
      = link_to t(".connect_to_twitter"),
        new_topic_external_account_path(topic)

  - if students.present?
    %h3.title
      = t('.registered_students')
    = render :partial => "course_invitation", :locals => {:topic => topic, :students => students}

  - unless local_assigns[:hide_question_lists]
    - if @question_lists.present?
      #question-lists.block
        %h3.title= t(".question_lists")
        %ul.topic-list
          - @question_lists.each do |question_list|
            %li.topic
              -# As question list following will be a little bit different, we'll turn this off for now.
              %span.topic-title= link_to_topic question_list, :render_follow_button => false
        - if @question_lists.size < @question_lists.total_entries
          = link_to t(".more"), question_lists_topic_path(topic), :class => "more"

  - if topic.related_topics.any?
    #related-topics.block.related
      %h3.title
        = t('.related_topics')
      %ul.topic-list
        = render :partial => "related_topic_list", :locals => {:topic => topic}

  - if link_to_main
    = link_to(local_assigns[:main_title] || t(".main"), topic_path(topic))

  = render :partial => 'shared/share_body', :locals => { :opts => { :content => topic.id, :class_name => Topic.to_s.underscore } }
