- type ||= 'follow'
- suggestion ||= false
- receiver = @user || local_assigns[:receiver]
%li.item
  .summary
    - if suggestion
      .controls
        - if suggestion == 'self'
          .refuse-suggestion
            = link_to '✕',
              refuse_suggestion_path(:topic => topic.id,
                                     :format => :js),
              :method => :post, :remote => true, "data-type" => "json"
        - else
          .delete-suggestion
            = link_to '✕',
              delete_suggestion_path(:topic => topic.id,
                                     :user => receiver.id,
                                     :format => :js),
              :method => :post, :remote => true, "data-type" => "json"

    .title
      = link_to h(topic.title), topic_path(topic)
      - if suggestion != 'friend' && type == 'ignore'
        .controls
          .button= render :partial => "topics/ignore", :locals => {:topic => topic}

    .info
      - if suggestion
        %span.suggestion-info
          - if suggestion == 'self'
            &= t("user_suggestions.user_suggest.suggestion_box.self_html", :origin => link_to(h(origins.first.first_name), user_path(origins.first.id)), :count => origins.count-1)
          - else
            &= t("user_suggestions.user_suggest.suggestion_box.friend")

      .metadata
        - if topic.respond_to? :question_list_files
          - if (file_count = topic.question_list_files.count) > 0
            %span
              = format_number(file_count)
              = t('activerecord.models.file_count', :count => file_count)
        -else
          - if (count = topic.questions_count) > 0
            %span
              = format_number(count)
              = t('activerecord.models.question_count', :count => count)

        - if logged_in? && suggestion != 'friend' && type != 'ignore'
          = follow_button topic
    .clear

