- content_for :js do
  = include_javascripts :content_edit
  = javascript_include_tag "#{AppConfig.wmd_location}/jquery.wmd.min.js"
  = javascript_include_tag "#{AppConfig.wmd_location}/jquery.wmd.mathjax.js"

- content_for :css do
  = stylesheet_link_tag "#{AppConfig.wmd_location}/wmd.css"

- content_for :subtabs do
  .navtitle
    = t(".title")

- form_for(@topic, :html => {:class => "form editor"}, :as => :topic) do |f|
  .group
    = f.label :title, t('.name'), :class => "label"
    = f.text_field :title, :class => "text_field"
  .group
    = f.label :description, t('.description'), :class => "label"
    = f.text_area :description, :class => "editor-input", :id => "topic-input", :rows => "auto", :cols => "auto"
    %label.label
      = t("global.preview")
    #topic-preview.markdown

    %script{:type => "text/javascript", :charset => "utf-8"}
      $().ready(function() { $("#topic-input").wmdMath({preview: "topic-preview"}); });


    .group.navform
      = f.submit t("scaffold.update")
      = t("global.or")
      = link_to t('scaffold.cancel'), topic_path(@topic), :class => "button cancel"
