.secondary-navigation
  .navtitle
    &= @topic.title

%h2= t("followable.followers", :count => @followers.total_entries)

%ul#users.items
  - @followers.each do |user|
    = render :partial => "users/user", :locals => {:user => user}

= will_paginate @followers

- content_for :sidebar do
  = link_to t("topics.show.view"), topic_path(@topic)