- content_for :subtabs do
  .secondary-navigation
    .navtitle= @topic.title
    %h3= t(".title")

= render :partial => "sidebar", :locals => {:topic => @topic, :hide_question_lists => true, :link_to_main => true, :main_title => t(".main_topic")}

%ul.items#topics
  - @question_lists.each do |question_list|
    = render :partial => "topics/topic", :locals => {:topic => question_list}

= will_paginate @question_lists
