- content_for :js do
  = javascript_include_merged :show

- content_for :sidebar do
  = render :partial => "follow", :locals => {:topic => @topic}
  - if @topic.followers.count > 0
    .block
      %h2.title
        = t('followable.followers', :count => @topic.followers.count)
      .friend_list
        - @topic.followers.each do |follower|
          %span
            = link_to gravatar_for(follower, :size => 24).html_safe, user_path(follower)

- content_for :subtabs do
  .navtitle
    &= @topic.title
    - if @questions
      == (#{@questions.total_entries})
%br
.markdown
  = markdown(@topic.description)

%p
  = link_to t('scaffold.edit'), edit_topic_path(@topic), :class => "edit-link"

- if @topic.title == 'resolução-de-exercício'
  %p= link_to 'Como funciona a resolução de exercícios no Umamão?', question_path('eu-posso-usar-o-umamao-para-colaborar-na-resolucao-de-exercicios')

-# Questions
%ul.items#questions
  - if @questions.empty?
    %li.highlight
      = t(".empty")
  - @questions.each do |question|
    = render :partial => "questions/question", :object => question

#additional_info
  = will_paginate @questions

  #help_us
    = t("questions.index.help_to_answer")
    = link_to t("questions.index.unanswered_questions"), unanswered_questions_path

  .clear
