- content_for :js do
  = javascript_include_merged :show

- content_for :sidebar do
  = render :partial => "follow", :locals => {:topic => @topic, :block => "block"}
  - if @topic.followers.count > 0
    .block
      %h2.title
        = t('followable.followers', :count => @topic.followers.count)
      .friend_list
        - @topic.followers.each do |follower|
          %span
            = link_to gravatar_for(follower, :size => 24).html_safe, user_path(follower)

- content_for :subtabs do
  .navtitle
    &= @topic.title
    == (#{@topic.questions_count})
%br
.markdown
  = markdown(@topic.description)

%p
  = link_to t('scaffold.edit'), edit_topic_path(@topic), :class => "edit-link"

- if @news_items.empty?
  %ul.items#questions
    - if @questions.empty?
      %li.highlight
        = t(".empty")
    - @questions.each do |question|
      = render :partial => "questions/question", :object => question
- else
  %ul.items#news_items
    - @news_items.each do |news_item|
      = render :partial => "welcome/news_item", :object => news_item

#additional_info
  - if @news_items.empty?
    = will_paginate @questions
  - else
    = will_paginate @news_items

  #help_us
    = t("questions.index.help_to_answer")
    = link_to t("questions.index.unanswered_questions"), unanswered_questions_path

  .clear
