- content_for :sidebar do
  = render :partial => "follow", :locals => {:topic => @topic, :block => "block"}
  - if @topic.followers.count > 0
    .block.followers
      %h2.title.count
        = t('followable.followers', :count => @topic.followers.count)
      .friend_list
        - @topic.followers.each do |follower|
          %span{"data-user-id" => follower.id}
            = link_to avatar_for(follower, :size => 24).html_safe, user_path(follower)

- content_for :subtabs do
  .navtitle
    &= @topic.title
    == (#{@topic.questions_count})
  - tabs_tag :namespace => :topic_show do |tab|
    = tab.all t('.all_tab'), @topic
    = tab.unanswered t('.unanswered_tab'), unanswered_topic_path(@topic)
%br
.markdown
  = markdown(@topic.description)

%p
  = link_to t('scaffold.edit'), edit_topic_path(@topic), :class => "edit-link"

%ul.items#questions
  - if @questions.blank?
    %li.highlight
      = t(".empty")
  - @questions.each do |question|
    = render :partial => "questions/question", :object => question

#additional_info
  = will_paginate @questions

  #help_us
    = t("questions.index.help_to_answer")
    = link_to t("questions.index.unanswered_questions"), unanswered_questions_path

  .clear
