%li.item
  / User Summary
  .summary
    %h3
      = link_to h(user.name), user_path(user)
    .info
      .bio
        = auto_link(truncate_words(h(user.bio), 60, link_to('…', user_path(user))))
      .metadata
        = t(:created_at, :scope => "activerecord.attributes.user")
        = t("time.ago", :time => time_ago_in_words(user.created_at))
        \|
        / User Stats
        - count = user.questions.count(:group_id => current_group.id)
        = format_number(count)
        = t(:question_count, :scope => "activerecord.models", :count => count)
        \|
        - count = user.answers.count(:group_id => current_group.id)
        = format_number(count)
        = t(:answer_count, :scope => "activerecord.models", :count => count)
    .clear
