= render :partial => "profile_common"

= content_for :sidebar do
  -# Followers
  = render_cell :users, :followers, :followed => @user

  -# Followed users
  = render_cell :users, :following, :follower => @user

  -# Followed topics
  = render_cell :topics, :small_list, :user => @user

- content_for :subtabs do
  - tabs_tag :namespace => :users_show, :open_tabs => {:class => :tabs} do |tab|
    = tab.news_updates t('users.show.tab.news_updates'), user_path(@user)
    - questions_count = @user.questions.count
    = tab.questions "#{t('users.show.tab.questions')} (#{questions_count})", questions_user_path(@user)
    - answers_count = @user.answers.count
    = tab.answers "#{t('users.show.tab.answers')} (#{answers_count})", answers_user_path(@user)

#users_show
  - case @tab
  - when "news_updates"
    - partial = "news_update"
  - when "questions"
    - partial = "questions/question"
  - when "answers"
    - partial = "answers/answer"
  .block
    - if @items.empty?
      = t("users.show.no_#{@tab}")
    - else
      - if @order_info[:will_sort]
        - sort = @order_info[:sort]
        = render :partial => "list_order", :locals => @order_info
      - else
        - sort = "newest"
      %ul.items{:id => @tab}
        - cache("users_show.#{@tab}.#{sort}.#{@user.id}.#{@items.current_page}.#{@items.total_entries}") do
          - @items.each do |item|
            = render :partial => partial, :object => item
      .additional_info
        = will_paginate @items, :param_name => "page"
        .clear
