-# Long list of followers/followed users in profile.

= render :partial => "profile_common"

- content_for :sidebar do
  = link_to t("users.show.profile"), user_path(@user)

#profile-display
  %input#user_id{:type => 'hidden', :value => @user.id}

  %h3= t("followable.topics", :count => @topics.total_entries)

  -# User suggestion
  - if current_user && current_user.mod_of?(current_group)
    - if @user != current_user
      %input.text_field#user-suggested-topics-autocomplete{ :type => "text-field", :value => t("user_suggestions.suggested.suggest"), "data-autocomplete-url" => autocomplete_url }
      %ul.autocomplete-list#user-suggested-topics-suggestions

    %ul#user-suggested.items
      - @suggested_topics.each do |topic, origins|
        = render :partial => "topics/topic", :locals => {:topic => topic, :origins => origins, :suggestion => @user == current_user ? 'self' : 'friend'}

  -# User followed topics
  %ul#topics.items
    - @topics.each do |topic|
      = render :partial => "topics/topic", :locals => {:topic => topic}

  #additional_info
    = will_paginate @topics
