-# Long list of followers/followed users in profile.

= render :partial => "profile_common"

%h3= t("followable.#{params[:action]}", :count => @users.total_entries)

%ul#users.items
  - @users.each do |user|
    = render :partial => "user", :locals => {:user => user}

#additional_info
  = will_paginate @users
