#preview-command
  %label.label
    = t("global.preview")
  #view
    = "(#{link_to t("global.enable"), "#", :class => "show_preview_answer"})"
  #hide
    = "(#{link_to t("global.disable"), "#", :class => "hide_preview_answer"})"
#preview-area.markdown
