#top-bar
  %ul.menu

    - if logged_in?
      - if !current_group.isolate && AppConfig.enable_groups
        %li.menu-item
          %ul.combobox
            %li
              = link_to t("activerecord.models.groups"), groups_path
              %ul
                - current_user.groups(:select => [:name, :domain]).each do |group|
                  %li
                    = link_to h(group.name), domain_url(:custom => group.domain)

      - if current_user.owner_of?(current_group)
        %li.menu-item
          = link_to t(".admin"), manage_properties_path, :class => "manage_link"

      - if current_user.mod_of?(current_group)
        %li.menu-item
          = link_to t("layouts.application.moderate"), moderate_path, :class => "moderate_link"

      %li.menu-item
        = link_to(avatar_for(current_user, :size => 20).html_safe, user_path(current_user))
        - uname = current_user.name.split
        = link_to(truncate(h(if uname.size == 1 then uname else uname.first + ' ' + uname.last end), :length => 16), user_path(current_user))

      %li.menu-item
        = link_to t("layouts.application.settings"), settings_profile_path

      %li.menu-item
        = link_to t("layouts.application.logout"), destroy_user_session_path

    - else
      %li.menu-item
        = link_to t("layouts.application.log_in"), new_user_session_path
