#top-bar
  %ul.menu

    - if logged_in?
      - if !current_group.isolate && AppConfig.enable_groups
        %li.menu-item
          %ul.combobox
            %li
              = link_to t("activerecord.models.groups"), groups_path
              %ul
                - current_user.groups(:select => [:name, :domain]).each do |group|
                  %li
                    = link_to h(group.name), domain_url(:custom => group.domain)

      %li.menu-item
        = link_to(avatar_for(current_user, :size => 20).html_safe, user_path(current_user))
        = link_to(truncate(h(short_name(current_user)), :length => 16), user_path(current_user))

      %li.menu-item
        = link_to t("layouts.application.settings"), settings_profile_path

      %li.menu-item
        = link_to t("layouts.application.logout"), destroy_user_session_path

    - else
      %li.menu-item
        = link_to t("layouts.application.log_in"), root_path(:focus => "signup")
