= csrf_meta_tag

%meta{ :content => "text/html; charset=utf-8", "http-equiv" => "Content-Type" }

= javascript_include_tag "i18n/#{I18n.locale}" if I18n.locale != :"pt-BR"

= yield :head

%link{:rel=>"icon", :type=>"image/png", :href=>"/favicon.ico"}
= render :partial => "shared/layout/feeds"
