#content
  %h2= t('.title')
  -feedback = params[:feedback] || {}
  = form_tag send_feedback_path, :method => "post" do
    .field
      .label
        = label_tag "feedback[title]", t(".feedback_title"), :class => "label"
      .input
        = text_field_tag "feedback[title]", feedback[:title], :class=> "text_field"
    .field
      .label
        = label_tag "feedback[description]", t(".feedback_description"), :class => "label"
      .input
        = text_area_tag "feedback[description]", feedback[:description], :class=> "text_area", :cols => 55, :rows => 15
    .field
      .label
        = label_tag "feedback[email]", t(".feedback_email"), :class => "label"
      .input
        = text_field_tag "feedback[email]", feedback[:email], :class=> "text_field"

    - n1 = rand(10); n2 = rand(10)
    = hidden_field_tag "n1", n1
    = hidden_field_tag "n2", n2

    .field
      .label
        = label_tag "result", "#{n1} * #{n2}="
      .input
        = text_field_tag "result", "", :class=> "text_field"
    .submit
      = submit_tag(t("scaffold.send"), :class => "button")
      = t("global.or")
      = link_to t("scaffold.cancel"), root_path, :class => 'cancel-feedback'
