- content_for :head do
  %meta{:name => "description", :content => markdown(current_group.description, :process_latex => false).gsub(/<\/?[^>]*>/, "")[0, 255] }

- content_for :js do
  = include_javascripts :suggestions

- content_for :subtabs do
  - tabs_tag :namespace => :welcome_home, :open_tabs => {:class => :tabs} do |tab|
    = tab.all t('welcome.home.all_tab'), root_path
    = tab.unanswered t('welcome.home.unanswered_tab'), unanswered_path

    - unread_count = current_user.notifications.query(:created_at.gt => current_user.last_read_notifications_at).count
    - notification_info = unread_count == 0 ? "" : " (#{unread_count})"
    = tab.notifications "#{t('welcome.home.notifications_tab')}#{notification_info}", notifications_path
