- title = h(news_item.title)
- origin = news_item.origin
- origin_type = news_item.origin_type.downcase
- action = news_item.news_update.action
- entry = news_item.news_update.entry
- entry_type = news_item.news_update.entry_type.downcase
- question = entry_type == 'question' ? entry : entry.question

%li.entry.item
  / News_item Summary
  .summary
    %h3= link_to title, question_path(question), :title => truncate(strip_tags(entry.body), :length => 200)
    .origin
      %span= t(".#{entry_type}.#{origin_type}.#{action}", :origin => link_to(origin.name, url_for(news_item.origin)))
    / News_item Stats
    .info
      .metadata
        = t("time.ago", :time => time_ago_in_words(news_item.created_at))
        \|
        = format_number(question.answers_count)
        = t(:answer_count, :scope => "activerecord.models", :count => question.answers_count)
  .clear
