- content_for :sidebar do
  .block
    - if current_user.owner_of?(current_group)
      .navigation= link_to t(".admin"), manage_properties_path
    - if current_user.mod_of?(current_group)
      .navigation= link_to t(".moderate"), moderate_path
    .navigation
      - if current_user.invitations_left == "unlimited"
        = link_to t("invitations.invite"), new_invitation_path
      - else
        = link_to t("invitations.left", :count => current_user.invitations_left), new_invitation_path
    - if Affiliation.count(:user_id => current_user.id) > 0
      .navigation= t('welcome.home.looking_for', :link => link_to(t('welcome.home.exercises'), topic_path('Resolução-de-exercício')))

  -# Topic suggestions
  - if logged_in?
    = render_cell :suggestions, :users, :single_column => true
    = render_cell :suggestions, :topics, :single_column => true
    = render :partial => 'user_suggestions', :locals => { :user_suggested_topics => @user_suggested_topics }

  - current_group.widgets.each do |widget|
    .widget.block{:id => widget.name}
      = render :partial => widget.partial_name, :locals => {:widget => widget}
