- unless user_suggested_topics.blank?
  #user-suggestions.block.suggestions
    %h3.title
      = t("followable.user_suggestions.topics")
    %ul.topic-list
      - user_suggested_topics.each do |topic, users|
        %li
          .topic.info
            %span.topic-title
              = link_to_topic(topic, :render_follow_button => false)
          .controls
            .follow-info
              = link_to "#{t("followable.follow")}", follow_topic_path(topic), :class => "follow_link", :method => :post
            .refuse-suggestion
              = link_to "✕", refuse_suggestion_path(:topic => topic.id), :method => :post
          .suggested-by
            = t("user_suggestions.suggested_by", :user => users.first.first_name, :count => users.count, :others => "outros")
