= render :partial => "header"

- if current_user.new_user && @getting_started
  #getting_started_div
    %ul.items#getting_started
      = render :partial => "welcome/getting_started", :object => @getting_started, :question => @getting_started

%ul.items#news_items
  - if @news_items.empty?

    %ul.items#questions
      - @questions.each do |question|
        = render :partial => "questions/question", :object => question

  - else
    = render :partial => "news_items"

  #additional_info
    #help_us
      = t(".browse_all_or_by_tags", :full_list_of_questions => link_to(t('.full_list_of_questions'), questions_path), :browse_by_tags => link_to(t('.browse_by_topics'), topics_path))
      %br
      = t("questions.index.help_to_answer")
      = link_to t("questions.index.unanswered_questions"), unanswered_questions_path

    .clear

= render :partial => "sidebar"
