- content_for :head do
  %meta{:name => "description", :content => markdown(current_group.description).gsub(/<\/?[^>]*>/, "")[0, 255] }

- content_for :subtabs do
  .navtitle
    = t(".recent_activities", :default => "Recent Activities")

%ul.items#news_items
  - if @news_items.empty?

    = t('.empty_news_feed_explanation',
        :users => link_to(t('.users'), users_path),
        :topics => link_to(t('.topics'), topics_path))

    %hr

    %ul.items#questions
      - @questions.each do |question|
        = render :partial => "questions/question", :object => question

  - else
    - @news_items.each do |news_item|
      = render :partial => "news_item", :object => news_item
    = will_paginate @news_items

  #additional_info
    #help_us
      = t(".browse_all_or_by_tags", :full_list_of_questions => link_to(t('.full_list_of_questions'), questions_path), :browse_by_tags => link_to(t('.browse_by_topics'), topics_path))
      %br
      = t("questions.index.help_to_answer")
      = link_to t("questions.index.unanswered_questions"), unanswered_questions_path

    .clear

- content_for :sidebar do
  .block{:style => 'font-size: 1.1em; font-weight: bold; text-align: center'}
    = link_to t('invitations.invite'), invitations_path
    %hr{:style => 'margin-top: 1em'}
    = t('.looking_for', :link => link_to(t('.exercises'), topic_path('Resolução-de-exercício')))

  - current_group.widgets.each do |widget|
    .widget.block{:id => widget.name}
      = render :partial => widget.partial_name, :locals => {:widget => widget}

  - if AppConfig.enable_i18n
    = render :partial => "shared/language_filter"

  - if !current_group.isolate && AppConfig.enable_groups
    .block{:style => "background: transparent"}
      .content
        = link_to t(".create_own_site"), new_group_path, :id => "create_own_site"

  -# Topic suggestions
  - if logged_in?
    - suggested_topics = current_user.suggested_topics
    - if !suggested_topics.blank?
      .block
        %h2.title
          Sugestões de tópicos
        %ul.topic-list
          - suggested_topics.each do |topic|
            %li
              .topic
                %span.topic-title
                  = link_to topic.title, topic_url(topic), :title => topic.title
              = render :partial => "topics/follow", :locals => {:topic => topic}
              .clear
