= render :partial => "header"

%ul.items#news_items
  - if @news_items.empty?

    %ul.items#questions
      - @questions.each do |question|
        = render :partial => "questions/question", :object => question

  - else
    - @news_items.each do |news_item|
      = render :partial => "news_item", :object => news_item
    = will_paginate @news_items

    .clear

- content_for :sidebar do
  .block{:style => 'font-size: 1.1em; font-weight: bold; text-align: center'}
    = link_to t('invitations.invite'), invitations_path
    %hr{:style => 'margin-top: 1em'}
    = t('.looking_for', :link => link_to(t('.exercises'), topic_path('Resolução-de-exercício')))

  -# Topic suggestions
  - if logged_in?
    = render_cell :suggestions, :topics

  - current_group.widgets.each do |widget|
    .widget.block{:id => widget.name}
      = render :partial => widget.partial_name, :locals => {:widget => widget}

  - if AppConfig.enable_i18n
    = render :partial => "shared/language_filter"

  - if !current_group.isolate && AppConfig.enable_groups
    .block{:style => "background: transparent"}
      .content
        = link_to t(".create_own_site"), new_group_path, :id => "create_own_site"

