- @user.password = @user.password_confirmation = nil
= error_messages_for :user
- form_for @user, :url => settings_password_path, :html => {:class => "form"} do |f|
  %h2.title
    = t("users.form.change_password")
  -if @user.encrypted_password.present?
    .group
      = f.label :current_password, t(:current_password, :scope => "activerecord.attributes.user"), :class => "label"
      = f.password_field :current_password, :class => 'text_field', :autofocus => (!request.put? || @user.errors.present?)

  .group
    = f.label :password, t(:password, :scope => "activerecord.attributes.user"), :class => "label"
    = f.password_field :password, :class => "text_field"

  .group
    = f.label :password_confirmation, t(:password_confirmation, :scope => "activerecord.attributes.user"), :class => "label"
    = f.password_field :password_confirmation, :class => "text_field"

  .group.navform
    = submit_tag t('.submit')
