- content_for :js do
  = include_javascripts :content_show
  = javascript_include_tag "#{AppConfig.wmd_location}/jquery.wmd.min.js"
  = javascript_include_tag "#{AppConfig.wmd_location}/jquery.wmd.mathjax.js"

- content_for :css do
  = stylesheet_link_tag "#{AppConfig.wmd_location}/wmd.css"

- content_for :subtabs do
  %table
    %tr
      %td
        %h1.navtitle.title.entry-title
          &= @question.title

#question-body.markdown
  = markdown(@question.body)

%hr

#answers
  = render :partial=> "questions/answer", :locals=> {:question => @question, :answer => @answer, :comment => Answer.new}
