= javascript_include_tag "#{AppConfig.wmd_location}/jquery.wmd.min.js"
= javascript_include_tag "#{AppConfig.wmd_location}/jquery.wmd.mathjax.js"
= javascript_include_tag "modules/single/question"
= javascript_include_tag "modules/show_question"
= javascript_include_tag "modules/votes"
