%li.item
  / User Summary
  .summary
    .avatar
      = avatar_for(invitation.recipient, :size => 72) || gravatar(invitation.recipient_email, :size => 72)
    = invitation.accepted_at ? link_to(h(invitation.recipient.name),
      user_path(invitation.recipient)) : "#{invitation.recipient_email}:"
    .info
      #bio
        = markdown(invitation.message)
      .metadata
        - method = invitation.accepted_at ? :accepted_at : :sent_at
        = t(method, :scope => "invitations.model.attributes")
        = t("time.ago", :time => time_ago_in_words(invitation.send(method)))
    .clear
