%h2.title= t('pending', :scope => "invitations.index.titles")

%p.tip= t('.empty.pending') if @pending_invitations.blank?
%ul.items.invitations
  - @pending_invitations.each do |invitation|
    = render invitation

%h2.title= t('accepted', :scope => "invitations.index.titles")

%p.tip= t('.empty.accepted') if @accepted_invitations.blank?
%ul.items.invitations
  - @accepted_invitations.each do |invitation|
    = render invitation

- content_for :sidebar do
  .invitation_form
    %h3= t('invitations.form.title')

    - if !current_user.can_invite_without_confirmation?
      .tip
        %p
          <strong>Lembre-se</strong>: Você pode enviar o convite para
          o email particular, mas a pessoa ainda terá que confirmar um
          email acadêmico da Unicamp ou da USP.

    = form_for @invitation do |f|
      = f.error_messages

      .field
        .label
          = f.label :recipient_email, t('invitations.form.labels.recipient_email')
        .input
          = f.email_field :recipient_email

      .field
        .label
          = f.label :message, t('invitations.form.labels.message')
        .input
          = f.text_area :message

      .submit
        = f.submit 'Enviar convite'
