%h1.navtitle= t(".title")

- content_for :sidebar do
  #import-contacts.block
    %h3= t(".import.title")
    = link_to image_tag("icons/google.png"), import_contacts_path(:provider => "GMAIL")
    = link_to image_tag("icons/yahoo.png"), import_contacts_path(:provider => "YAHOO")
    = link_to image_tag("icons/windows.png"), import_contacts_path(:provider => "WINDOWSLIVE")
    .template
      .modal
        %h1= t(".import.title")
        = t(".import.notice")
        .controls
          = link_to t("scaffold.cancel"), "javascript:void(0)", :class => "close"
          = link_to t(".import.continue"), "javascript:void(0)", :class => "continue"

  .block.pending
    = link_to t(".accepted", :count => @accepted_invitations.count), accepted_invitations_path
    = render_cell :users, :list, :users => @accepted_invitations.map(&:recipient)

  .block
    = link_to t(".pending", :count => @pending_invitations.count), pending_invitations_path

#select-contacts
  - if @fetching_contacts
    .wait-notice{"data-fetch-contacts-url" => fetch_contacts_url, "data-error-message" => t(".error")}
      .loader
        = image_tag "ajax-loader-big.gif"
      = t(".wait")
  - form_tag invitations_path, :id => "select-contacts-form" do

    - enable_autocomplete = @fetching_contacts || @has_contacts
    .controls{:class => @fetching_contacts ? "waiting" : ""}
      = text_field_tag "emails[]", t(enable_autocomplete ? ".name_or_email" : ".email"), :id => "search-contacts", :class => "inactive", "data-autocomplete-url" => enable_autocomplete ? search_contacts_url : ""
      %ul#search-contacts-results.autocomplete-list
      = link_to t(".add_contact"), "javascript:void(0)", :class => "add-contact"

    #contacts-to-invite.empty
      %h2= t(".selected")
      .block-selection
        = link_to t(".remove_all"), "javascript:void(0)", :class => "remove_all"

      .list

    #invitation-message
      = label_tag "message", t(".message")
      = text_area_tag "message"

    = submit_tag t(".invite")
