- form_tag invite_contacts_path do
  = label_tag "message", "Mensagem"
  = text_field_tag "message", ""
  %ul.contacts
    - @contacts.first.each do |contact|
      %li
        = check_box_tag "emails[]", contact.email
        - if contact.name
          .name= contact.name
        .email= contact.email
  = submit_tag
