%h1.navtitle= t("contacts.import.title")

- form_tag invite_contacts_path, :id => "select-contacts" do
  - if @fetching_contacts
    .wait-notice
      .loader
        = image_tag "ajax-loader-big.gif"
      = t("contacts.import.wait")

  %h2= t("contacts.import.selected")
  - control_class = @fetching_contacts ? "waiting" : ""
  - control_url = @fetching_contacts ? fetch_contacts_url : ""
  .controls{:class => control_class, "data-fetch-contacts-url" => control_url, "data-error-message" => t("contacts.import.error")}
    = text_field_tag "autocomplete", t("contacts.import.filter"), :id => "search-contacts", :class => "inactive", "data-autocomplete-url" => search_contacts_url
    %ul#search-contacts-results.autocomplete-list

    .block-selection
      = link_to t("contacts.import.remove_all"), "javascript:void(0)", :class => "remove_all"
  #contacts-to-invite

  #invitation-message
    = label_tag "message", t("contacts.import.message")
    = text_area_tag "message"

  = submit_tag t("contacts.import.invite")
