%h1.navtitle= t("contacts.import.title")

- form_tag invite_contacts_path, :id => "select-contacts" do
  .controls
    = text_field_tag "autocomplete", t("contacts.import.filter"), :class => "autocomplete"
    .block-selection
      = link_to t("contacts.import.all"), "javascript:void(0)", :class => "all"
      = link_to t("contacts.import.none"), "javascript:void(0)", :class => "none"

  #imported-contacts
    - @contacts.each do |contact|
      .contact
        = check_box_tag "emails[]", contact.email
        - if contact.name
          .name= contact.name
        .email= contact.email

  #invitation-message
    = label_tag "message", t("contacts.import.message")
    = text_area_tag "message"

  = submit_tag t("contacts.import.invite")
