.secondary-navigation
  .navtitle= t(".avatar_config.title")

= avatar_for @user, :size => 100

- form_for @user, :url => settings_avatar_path, :html => {:multipart => true} do |f|
  .group
    .option.upload
      %h3= t(".avatar_config.upload")
      = file_field_tag "avatar"
    .external
      %h3= t(".avatar_config.external")
      .option
        = f.radio_button "avatar_config", "facebook", :disabled => @user.facebook_account.blank?
        Facebook
      .option
        = f.radio_button "avatar_config", "twitter", :disabled => @user.twitter_account.blank?
        Twitter
      .option
        = f.radio_button "avatar_config", "gravatar"
        Gravatar
    = submit_tag
