%p= t('.greeting', :invited => @invited.first_name)

%p= t('.sender', :user => h(@sender.name), :question => "\"#{link_to(@question.title, question_url(@question))}\"")

- if @message.present?
  \---
  = markdown(@message, :group => @group)
  \---

= link_to t(".answer"), question_url(@question)
%br
%br
= simple_format(t('.goodbye'))
