.modal.share-content-widget
  %h1= t("global.share")
  .secondary-navigation
    %ul.tabs
      - ["facebook", "twitter"].each do |site|
        %li{:class => ((@where == site)? "current" : ""), :data => site}
          = link_to(image_tag("#{site}.gif") + " #{site.capitalize}",
            "#share_on_#{site}", :class => site, :class => "tab-share-popup")
      - if @content.is_a? Topic
        %li{:class => (@where == "embed" ? "current" : ""), :data => "embed"}
          = link_to(t("share_content.embed.title"), "#share_on_embed",
            :class => "tab-share-popup")

  - ["facebook", "twitter"].each do |site|
    .content-share{:id => "share_on_#{site}", :class => ((@where == site)? "current" : "")}
      - form_tag "/share_#{@class_name}", :method => :post do
        - body = "#{@body[site]}#{' ' << @link[site] if @link[site]}"
        = text_area_tag "body", body, :'data-maxlength' => @maxlength[site]
        - charsleft = @maxlength[site] - body.mb_chars.size
        .charcount{:class => ( charsleft < 0 ? 'negative-counter' : '' )}
          %span(class="charsleft") #{charsleft.abs}
          %span= (charsleft >= 0 ? t("characters_left", :count => charsleft) : t("characters_exceded", :count => -charsleft))
        = hidden_field_tag :content, @content.id
        = hidden_field_tag "where", site
        .controls
          = link_to t("scaffold.cancel"), "#", :class => "close"
          = submit_tag t("global.share"), :disabled => (charsleft < 0)
  - if @content.is_a? Topic
    #share_on_embed.content-share{:class => (@where == "embed" ? "current" : "")}
      .explanation= t("share_content.embed.explanation")
      .method
        = label_tag "", t("share_content.embed.javascript")
        = text_field_tag "", embed_topic_tag(@content, :js)
      .method
        = label_tag "", t("share_content.embed.iframe")
        = text_field_tag "", embed_topic_tag(@content, :iframe)
      = link_to t("share_content.embed.more"), "/questions/4dca8b8dffc334000100026a"
      .controls
        = link_to t("scaffold.close"), "#", :class => "close"
