.modal.share-content-widget
  %h1= t("#{@class_name.pluralize}.show.post_on_#{@where}")
  - if [ "facebook", "twitter" ].include? @where
    .message
      = t("external_accounts.connected_to.success", :site => @where.capitalize)
  - form_tag "/share_#{@class_name}", :method => :post do
    - body = "#{@body[@where]}#{' ' << @link if @link}"
    = text_area_tag "body", body, :'data-maxlength' => @maxlength
    .charcount
      %span(class="charsleft") #{@maxlength - body.mb_chars.size}
      %span caracteres restantes
    = hidden_field_tag :content, @content.id
    = hidden_field_tag "where", @where
    .controls
      = link_to t("scaffold.cancel"), "#", :class => "close"
      = submit_tag t("global.share")
    .clear
