-# Bulk-following of topics in user settings.

= error_messages_for :user

.tertiary-navigation
  %span.menu-item.followed&= link_to t('.followed'), settings_follow_topics_path
  %span.menu-item.ignored&= link_to t('.ignored'), settings_ignore_topics_path

%input.text_field#follow-topics-autocomplete{:type => "text-field", :value => t("searches.form.follow_topics"), "data-autocomplete-url" => autocomplete_url}
%ul.autocomplete-list#follow-topics-suggestions

%hr
%ul.items#followed-topics
  - @topics.each do |topic|
    = render :partial => "topics/topic", :locals => {:topic => topic}

= will_paginate @topics
