-# Bulk-following of topics in user settings.

= error_messages_for :user

.tertiary-navigation
  %span.menu-item.followed{:class => @active == 'follow' ? 'active' : ''}
    = link_to t('.followed'), settings_follow_topics_path
  %span.menu-item.ignored{:class => @active == 'ignore' ? 'active' : ''}
    = link_to t('.ignored'), settings_ignore_topics_path

%input.text_field{:id => "#{@active}-topics-autocomplete", :type => "text-field", :value => t("searches.form.#{@active}_topics"), "data-autocomplete-url" => autocomplete_url}
%ul.autocomplete-list{:id => "#{@active}-topics-suggestions"}

%hr
%ul.items{:id => "#{@active}#{@active == 'follow' ? 'ed' : 'd'}-topics"}
  - @user_topics.each do |user_topic|
    - topic = user_topic.topic
    = render :partial => "topics/topic", :locals => {:topic => topic, :type => @active }

-# HACK: attempting to paginate empty has_many queries that
  work with an :in option doesn't work
- if @user_topics.present?
  = will_paginate @user_topics
