- content_for :subtabs do
  .navtitle
    = t(".title")

- if @results.present?
  %ul#long-search-results.items
    - @results.each do |result|
      - result_class = result.root_class.to_s.underscore
      %li.item{:class => result_class}
        = render(:partial => result_class,
                 :locals => {result_class.to_sym => result})
  = will_paginate @results
- else
  = t(".empty")

- content_for :sidebar do
  - form_tag search_path, :method => "get", :class => "long-search" do
    %h3= t(".form.detail")
    = text_field_tag :q, params[:q]
    %h4= t(".form.categories")
    .options
      - [:question, :topic, :user].each do |model|
        .option
          = check_box_tag "in[]", model, @in.include?(model)
          = t("activerecord.models.#{model.to_s.pluralize}")
    = submit_tag t(".form.send")
