%li.item
  .summary
    .title
      = image_tag "#{@provider}.gif"
      %strong= @provider.capitalize
      %div{:style => 'float: right'}
        - if @external_account.present?
          - name_link = link_to(@name, @external_account.user_info['urls'][@provider.capitalize], :target => '_blank')
          = t('external_accounts.connected_as', :name => name_link)
          = "(#{link_to t("external_accounts.disconnect"), settings_external_account_path(@external_account), :method => :delete})"
        - else
          = link_to t('external_accounts.connect'), "/auth/#{@provider}"
    .clear


