#navigation-all
  - @steps.each do |step|
    = link_to step, "/signup/wizard/#{step}", :class => (step == @current_step ? "active" : "")

-# FIXME: is there a better name for this?
#interaction
- case @current_step
- when "connect"
  = render_cell "external_accounts", :display
- when "follow"
  = render :state => :follow

#navigation-step
  - if @previous_step
    = link_to "Anterior", "/signup/wizard/#{@previous_step}"
  - if @next_step
    = link_to "Próximo", "/signup/wizard/#{@next_step}"
  = link_to "Ir para o Umamão", root_path