


#signup-wizard

  - if @current_step == "connect"
    %p#introduction
      = t("signup_wizard.introduction")

  -# FIXME: is there a better name for this?
  #interaction
    %h2
      = "#{t("signup_wizard.#{@current_step}")} (#{@steps.index(@current_step) + 1}/#{@steps.length})"

    #content
      - case @current_step
      - when "connect"
        = render_cell "external_accounts", :display
      - when "follow"
        #wait-notice
          #loader
            = image_tag "ajax-loader-big.gif"
          = t("signup_wizard.wait")

    #navigation
      - if @previous_step
        = link_to t("navigation.previous"), wizard_path(@previous_step)
      - if @next_step
        = link_to t("navigation.next"), wizard_path(@next_step)
      - else
        = link_to t("signup_wizard.finish"), wizard_path("finish"), :class => "finish"

    - if @next_step
      = link_to t("signup_wizard.skip"), wizard_path("skip"), :class => "skip"

    .clear
