#navigation-all
  - @steps.each do |step|
    = link_to step, wizard_path(step), :class => (step == @current_step ? "active" : "")

-# FIXME: is there a better name for this?
#interaction
- case @current_step
- when "connect"
  = render_cell "external_accounts", :display
- when "follow"
  = render :state => :follow

#navigation-step
  - if @previous_step
    = link_to "Anterior", wizard_path(@previous_step)
  - if @next_step
    = link_to "Próximo", wizard_path(@next_step)
  = link_to "Ir para o Umamão", root_path