#signup-wizard

  %ul#navigation-all
    - @steps.each do |step|
      %li{:class => "step#{step == @current_step ? " active" : ""}"}
        = link_to t("signup_wizard.#{step}"), wizard_path(step)

  -# FIXME: is there a better name for this?
  #interaction
  - case @current_step
  - when "connect"
    = render_cell "external_accounts", :display
  - when "follow"
    = render :state => :follow

  #navigation-step
    - if @previous_step
      = link_to t("navigation.previous"), wizard_path(@previous_step)
    - if @next_step
      = link_to t("navigation.next"), wizard_path(@next_step)
      = link_to t("signup_wizard.skip"), root_path, :class => "skip"
    - else
      = link_to t("signup_wizard.finish"), root_path, :class => "finish"
