!!! Strict
%html{"xml:lang" => I18n.locale, :lang => I18n.locale, :xmlns => "http://www.w3.org/1999/xhtml" }
  %head
    %title
      &= page_title
    = render :partial => "shared/layout/css"

    = current_group.head_tag
    = render :partial => "shared/layout/meta"
    <!--[if lt IE 8]><link type="text/css" rel="stylesheet" media="screen" href="/stylesheets/ie7.css"><![endif]-->
    = render :partial => "shared/layout/javascript"

  %body
    = render :partial => "shared/analytics"
    #header
      = current_group.head
      #main-bar{:class => @active_tab}
        #logo
          = link_to image_tag("default_logo.png", :class => "group_logo", :width => 150, :height => 75, :alt => "Umamão"), domain_url(:custom => current_group.domain)

        = render :partial => "shared/search"
        = render :partial => "shared/topbar"

        -announcements = current_announcements(session[:announcement_hide_time])
        -unless announcements.empty?
          #announcement
            #announcement_message
              -announcements.each do |announcement|
                =markdown(announcement.message)
            = link_to t('announcements.close'), hide_announcements_path, :id => "hide_announcement", :style => 'float: right'
            .clear

        -if !logged_in?
          -if AppConfig.twitter["activate"] && request.referrer =~ %r{^https?://(www\.){0,1}twitter\.com}
            .flash
              .message.notice.highlight_for_user{:style => "padding: 8px 4px; font-weight: bold"}
                =t(".welcome_from")
                =link_to t("sessions.new.with_twitter"), twitter_authorize_path, :title => "Twitter", :id => "twitter_auth", :class => "highlight_for_user"
                =t(".now")
          -elsif AppConfig.facebook["activate"] && request.referrer =~ %r{^https?://(www\.){0,1}facebook\.com}
            .flash
              .message.notice.highlight_for_user{:style => "padding: 8px 4px; font-weight: bold"}
                =t(".welcome_from")
                =link_to t("sessions.new.with_facebook"), oauth_authorize_path, :title => "Facebook", :id => "facebook_auth"
                =t(".now")
    #container{:class => @current_class}
      #wrapper
        #main
          #block-text

            - if content_for?(:subtabs)
              .secondary-navigation{:class => @active_subtab.to_s}
                =yield :subtabs

            .content
              %p= show_flash_messages(:class => "flash", :markdown => true)
              .inner
                = content_for?(:content) ? yield(:content) : yield

        #sidebar
          = yield :sidebar

      .push

    = render :partial => "layouts/footer"

:javascript
  var uservoiceOptions = {
    /* required */
    key: 'umamao',
    host: 'feedback.umamao.com',
    forum: '94693',
    showTab: true,
    /* optional */
    alignment: 'left',
    background_color:'#f00',
    text_color: 'white',
    hover_color: '#06C',
    lang: 'pt_BR'
  };

  function _loadUserVoice() {
    var s = document.createElement('script');
    s.setAttribute('type', 'text/javascript');
    s.setAttribute('src', ("https:" == document.location.protocol ? "https://" : "http://") + "cdn.uservoice.com/javascripts/widgets/tab.js");
    document.getElementsByTagName('head')[0].appendChild(s);
  }
  _loadSuper = window.onload;
  window.onload = (typeof window.onload != 'function') ? _loadUserVoice : function() { _loadSuper(); _loadUserVoice(); };
