!!! Strict
%html{"xml:lang" => I18n.locale, :lang => I18n.locale, :xmlns => "http://www.w3.org/1999/xhtml" }
  %head{"profile" => "http://a9.com/-/spec/opensearch/1.1/"}
    %title
      &= page_title
    = include_stylesheets :base, :media => 'all'
    = yield :css

    = current_group.head_tag
    = render :partial => "shared/layout/meta"
    <!--[if lt IE 8]><link type="text/css" rel="stylesheet" media="screen" href="/stylesheets/ie7.css"><![endif]-->
    = include_javascripts :base
    = javascript_include_tag AppConfig.mathjax_location
    = yield :js
    %link{"rel" => "search", "type" => "application/opensearchdescription+xml", "href" => "/content-search.xml", "title" => "Content Search"}

  %body
    ~ AppConfig.beginning_of_body_tag if Rails.env.production?

    #header
      = current_group.head
      #top-bar
        #top-bar-links
          - AppConfig.top_bar.each do |group_of_links|
            %ul
              - group_of_links.each do |link|
                %li
                  = link_to link[0], link[1]
      #main-bar{:class => @active_tab}
        #logo
          = link_to image_tag("shorter_logo.png", :class => "group_logo", :height => 42, :alt => AppConfig.application_name), domain_url(:custom => current_group.domain)
        = render :partial => "shared/search"
        .vertical-bar
        #home-link
          = link_to t('.home'), root_path

        #main-right
          = render :partial => "shared/other_actions"
          .vertical-bar
          #ask-question
            = link_to t('.ask_question'), new_question_path

        -# Removed
          = render :partial => "shared/search"
          = render :partial => "shared/topbar"

        -announcements = current_announcements(session[:announcement_hide_time])
        -unless announcements.empty?
          #announcement
            #announcement_message
              -announcements.each do |announcement|
                =markdown(announcement.message)
            = link_to t('announcements.close'), hide_announcements_path, :id => "hide_announcement", :style => 'float: right'

        -if !logged_in?
          -if AppConfig.twitter["activate"] && request.referrer =~ %r{^https?://(www\.){0,1}twitter\.com}
            .flash
              .message.notice.highlight_for_user{:style => "padding: 8px 4px; font-weight: bold"}
                =t(".welcome_from")
                =link_to t("sessions.new.with_twitter"), twitter_authorize_path, :title => "Twitter", :id => "twitter_auth", :class => "highlight_for_user"
                =t(".now")
          -elsif AppConfig.facebook["activate"] && request.referrer =~ %r{^https?://(www\.){0,1}facebook\.com}
            .flash
              .message.notice.highlight_for_user{:style => "padding: 8px 4px; font-weight: bold"}
                =t(".welcome_from")
                =link_to t("sessions.new.with_facebook"), oauth_authorize_path, :title => "Facebook", :id => "facebook_auth"
                =t(".now")


    - unless current_user.blank? || current_user.confirmed?
      %span.persistent_message
        = I18n.t("users.annoying.unconfirmed_non_academic_email")
        = link_to t("users.annoying.resend_confirmation_email"),
          resend_confirmation_email_path(:format => :js),
          :id => "resend_confirmation_email",
          :remote => true,
          "data-type" => "json"
        = image_tag("ajax-loader.gif", :id => "ajax-loader", :class => "hide")

    #container{:class => @current_class}
      #wrapper
        #main
          #block-text

            - if content_for?(:subtabs)
              .secondary-navigation{:class => @active_subtab.to_s}
                = yield :subtabs

            .content
              .inner
                = content_for?(:content) ? yield(:content) : yield

        #sidebar
          = yield :sidebar

      .push

    = render :partial => "layouts/footer"

    = render :partial => "shared/analytics"

    :javascript
      var uservoiceOptions = {
        /* required */
        key: 'umamao',
        host: 'feedback.umamao.com',
        forum: '94693',
        showTab: true,
        /* optional */
        alignment: 'left',
        background_color:'#f00',
        text_color: 'white',
        hover_color: '#06C',
        lang: 'pt_BR'
      };

      function _loadUserVoice() {
        var s = document.createElement('script');
        s.setAttribute('type', 'text/javascript');
        s.setAttribute('src', ("https:" == document.location.protocol ? "https://" : "http://") + "cdn.uservoice.com/javascripts/widgets/tab.js");
        document.getElementsByTagName('head')[0].appendChild(s);
      }
      _loadSuper = window.onload;
      window.onload = (typeof window.onload != 'function') ? _loadUserVoice : function() { _loadSuper(); _loadUserVoice(); };
