!!! Strict
%html{ "xml:lang" => I18n.locale, :lang => I18n.locale, :xmlns => "http://www.w3.org/1999/xhtml", "xmlns:fb" => "http://www.facebook.com/2008/fbml" }
  %head
    %title
      &= page_title
    = current_group.head_tag
    = render :partial => "shared/layout/css"
    = render :partial => "shared/layout/meta"
    = render :partial => "shared/layout/javascript"

  %body
    = render :partial => "shared/analytics"
    #container
      #header
        #main-bar
          #logo
            = link_to image_tag("default_logo.png", :class => "group_logo", :width => 150, :height => 75), domain_url(:custom => current_group.domain)
          .clear
      #wrapper
        #main
          #block-text.block
            .content
              %p.markdown
                = show_flash_messages(:class => "flash", :markdown => true)
              .inner
                = yield
                .clear
    ~ AppConfig.conversion_tracking_code if flash[:conversion]
