- content_for :subtabs do
  .navtitle
    = t(".title")

- content_for :content do
  - tabs_tag do |tab|
    = tab.profile t('.profile_tab'), settings_profile_path
    = tab.resume t('.resume_tab'), settings_resume_path
    = tab.notifications t('.notifications_tab'), settings_notifications_path
    = tab.password t('.password_tab'), settings_password_path
    = tab.account t('.account_tab'), settings_account_path
  = yield

= render :file => 'layouts/application'
