- content_for :content do
  .secondary-navigation
    .navtitle
      = t(".title")
    - tabs_tag :namespace => :settings do |tab|
      = tab.profile t('.profile_tab'), settings_profile_path
      = tab.follow_topics t('.follow_topics_tab'), settings_follow_topics_path
      = tab.notifications t('.notifications_tab'), settings_notifications_path
      = tab.account t('.account_tab'), settings_account_path
      = tab.password t('.password_tab'), settings_password_path
    .clear
  = yield

= render :file => 'layouts/application'
